@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    background-color: #f2f2f2 !important;
    padding: 0 !important;
    margin: 0 !important;
    font-family: 'Lato' !important;
  }
  
  @media (min-width: 1352px) {
    .mx {
      margin-left: 72px !important; 
      margin-right: 72px !important; 
    }
  }
  